<label for="tarea">Nombre de la tarea:</label>
<input placeholder="Ingresa la tarea" type="text" ngModel="nombreTarea" id="tarea">
<button ng-click="guardarTarea()">Guardar</button>

<ul>
  <li *ngFor="let tarea of tareas;let indice = index;" [class.tachado] ="tarea.done">
      <input ngModel="tarea.terminada" ng-change="cambiarEstadoDeTarea()" type="checkbox">
      {{tarea.nombreTarea}}
      <a  ng-click="eliminarTarea(indice)" class="enlace-eliminar">&times;</a>
  </li>
</ul>
<!--<html ng-app="todoApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="todo.js"></script>
    <link rel="stylesheet" href="app.component.css">
  </head>
  <body>
    <h2>TO DO</h2>
    <div ng-controller="TodoListController as todoList">
      <span>{{todoList.remaining()}} de {{todoList.todos.length}} restantes</span>
      <ul class="unstyled">
        <li ng-repeat="todo in todoList.todos">
          <label class="checkbox">
            <input type="checkbox" ng-model="todo.done">
            <span class="done-{{todo.done}}">{{todo.text}}</span>
          </label>
        </li>
      </ul>
      <form ng-submit="todoList.addTodo()">
        <input type="text" ng-model="todoList.todoText"  size="30"
               placeholder="Agregar nueva tarea">
        <input class="btn-primary" type="submit" value="Agregar">
      </form>
    </div>
  </body>
</html>-->